@import '../../styles/scss/elements';
@import '../../styles/scss/variables';

.add-box {

    header {
        margin-top: 18px;
    }

    .add-div {

        table {
            display: flex;
            justify-content: center;
            margin-top: 40px;

            th,
            td{
                padding: 10px 0;
                font-size: 15px;
                font-weight: 600;
            }

            th {
                width: 150px;
            }

            td {
                width: 300px;
                display: flex;

                select {
                    height: 28px;
                    font-size: 13px;
                    font-weight: 600;
                }
                
                input {
                    width: 250px;
                    height: 28px;
                    font-size: 15px;
                    font-weight: 600;
                    text-align: center;
                }

                .time {
                    display: inline-block;
                    width: 109px;
                }
            }
        }

        button {
            margin-top: 10px;
            width: 50px;
            height: 30px;
            background-color: $primaryColor;
            border: 1px solid $white;
            border-radius: 5px;
            color: $white;
        }

    }

}