<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.douzone.HISservice.repository.BedInfoDAO">
    <!-- 병동 and 호실 기준 병상 현황 정보 불러오기 READ-->
    <select id="getOccupiedBedInfoList"  parameterType="HashMap" resultType="HashMap">
        (SELECT (a.WARD + a.ROOM_NUM) as WARDROOM, a.BED_NUM,
                IF(DISCHARGE_DATE IS NULL , d.PATIENT_NAME, NULL ) AS PATIENT_NAME,
                IF(DISCHARGE_DATE IS NULL , e.EMP_NAME, NULL ) AS EMP_NAME
         FROM BED_TB as a
                  LEFT JOIN ADMISSION_TB AS b ON a.WARD = b.WARD  and a.ROOM_NUM = b.ROOM_NUM and a.BED_NUM = b.BED_NUM
                  LEFT JOIN TREATMENT_INFO_TB AS c ON b.TREATMENT_NUM_FK = c.TREATMENT_NUM_PK
                  LEFT JOIN PATIENT_TB AS d ON c.PATIENT_ID_FK = d.PATIENT_ID_PK
                  LEFT JOIN EMP_INFO_TB AS e ON c.EMP_ID_FK = e.EMP_ID_PK
                  LEFT JOIN ADMISSION_STATUS AS f ON f.ADMISSION_STATUS_CODE = b.ADMISSION_STATUS_CODE
         WHERE a.WARD = #{ward} AND a.ROOM_NUM = #{roomNum} AND b.DISCHARGE_DATE IS NULL)
        UNION
        (SELECT DISTINCT (a.WARD + a.ROOM_NUM) as WARDROOM, a.BED_NUM,
                         IF(DISCHARGE_DATE IS NULL , d.PATIENT_NAME, NULL ) AS PATIENT_NAME,
                         IF(DISCHARGE_DATE IS NULL , e.EMP_NAME, NULL ) AS EMP_NAME
         FROM BED_TB as a
                  LEFT JOIN ADMISSION_TB AS b ON a.WARD = b.WARD  and a.ROOM_NUM = b.ROOM_NUM and a.BED_NUM = b.BED_NUM
                  LEFT JOIN TREATMENT_INFO_TB AS c ON b.TREATMENT_NUM_FK = c.TREATMENT_NUM_PK
                  LEFT JOIN PATIENT_TB AS d ON c.PATIENT_ID_FK = d.PATIENT_ID_PK
                  LEFT JOIN EMP_INFO_TB AS e ON c.EMP_ID_FK = e.EMP_ID_PK
                  LEFT JOIN ADMISSION_STATUS AS f ON f.ADMISSION_STATUS_CODE = b.ADMISSION_STATUS_CODE
         WHERE a.WARD = #{ward} AND a.ROOM_NUM = #{roomNum} AND a.BED_STATUS = 0)
        ORDER BY BED_NUM ASC;
    </select>

    <!-- 병동 기준 병상 현황 정보 불러오기 READ-->
    <select id="getAllWardList"  parameterType="HashMap" resultType="HashMap">
        (SELECT (a.WARD + a.ROOM_NUM) as WARDROOM, a.BED_NUM,
                IF(DISCHARGE_DATE IS NULL , d.PATIENT_NAME, NULL ) AS PATIENT_NAME,
                IF(DISCHARGE_DATE IS NULL , e.EMP_NAME, NULL ) AS EMP_NAME
         FROM BED_TB as a
                  LEFT JOIN ADMISSION_TB AS b ON a.WARD = b.WARD  and a.ROOM_NUM = b.ROOM_NUM and a.BED_NUM = b.BED_NUM
                  LEFT JOIN TREATMENT_INFO_TB AS c ON b.TREATMENT_NUM_FK = c.TREATMENT_NUM_PK
                  LEFT JOIN PATIENT_TB AS d ON c.PATIENT_ID_FK = d.PATIENT_ID_PK
                  LEFT JOIN EMP_INFO_TB AS e ON c.EMP_ID_FK = e.EMP_ID_PK
                  LEFT JOIN ADMISSION_STATUS AS f ON f.ADMISSION_STATUS_CODE = b.ADMISSION_STATUS_CODE
         WHERE a.WARD = #{ward} AND b.DISCHARGE_DATE IS NULL)
        UNION
        (SELECT DISTINCT (a.WARD + a.ROOM_NUM) as WARDROOM, a.BED_NUM,
                         IF(DISCHARGE_DATE IS NULL , d.PATIENT_NAME, NULL ) AS PATIENT_NAME,
                         IF(DISCHARGE_DATE IS NULL , e.EMP_NAME, NULL ) AS EMP_NAME
         FROM BED_TB as a
                  LEFT JOIN ADMISSION_TB AS b ON a.WARD = b.WARD  and a.ROOM_NUM = b.ROOM_NUM and a.BED_NUM = b.BED_NUM
                  LEFT JOIN TREATMENT_INFO_TB AS c ON b.TREATMENT_NUM_FK = c.TREATMENT_NUM_PK
                  LEFT JOIN PATIENT_TB AS d ON c.PATIENT_ID_FK = d.PATIENT_ID_PK
                  LEFT JOIN EMP_INFO_TB AS e ON c.EMP_ID_FK = e.EMP_ID_PK
                  LEFT JOIN ADMISSION_STATUS AS f ON f.ADMISSION_STATUS_CODE = b.ADMISSION_STATUS_CODE
         WHERE a.WARD = #{ward} AND a.BED_STATUS = 0)
        ORDER BY WARDROOM ASC, BED_NUM;
    </select>

    <!-- 전체 병상 현황 정보 불러오기 READ-->
    <select id="getAllBedList"  parameterType="HashMap" resultType="HashMap">
        (SELECT (a.WARD + a.ROOM_NUM) as WARDROOM, a.BED_NUM,
                IF(DISCHARGE_DATE IS NULL , d.PATIENT_NAME, NULL ) AS PATIENT_NAME,
                IF(DISCHARGE_DATE IS NULL , e.EMP_NAME, NULL ) AS EMP_NAME
         FROM BED_TB as a
                  LEFT JOIN ADMISSION_TB AS b ON a.WARD = b.WARD  and a.ROOM_NUM = b.ROOM_NUM and a.BED_NUM = b.BED_NUM
                  LEFT JOIN TREATMENT_INFO_TB AS c ON b.TREATMENT_NUM_FK = c.TREATMENT_NUM_PK
                  LEFT JOIN PATIENT_TB AS d ON c.PATIENT_ID_FK = d.PATIENT_ID_PK
                  LEFT JOIN EMP_INFO_TB AS e ON c.EMP_ID_FK = e.EMP_ID_PK
                  LEFT JOIN ADMISSION_STATUS AS f ON f.ADMISSION_STATUS_CODE = b.ADMISSION_STATUS_CODE
         WHERE b.DISCHARGE_DATE IS NULL)
        UNION
        (SELECT DISTINCT (a.WARD + a.ROOM_NUM) as WARDROOM, a.BED_NUM,
                         IF(DISCHARGE_DATE IS NULL , d.PATIENT_NAME, NULL ) AS PATIENT_NAME,
                         IF(DISCHARGE_DATE IS NULL , e.EMP_NAME, NULL ) AS EMP_NAME
         FROM BED_TB as a
                  LEFT JOIN ADMISSION_TB AS b ON a.WARD = b.WARD  and a.ROOM_NUM = b.ROOM_NUM and a.BED_NUM = b.BED_NUM
                  LEFT JOIN TREATMENT_INFO_TB AS c ON b.TREATMENT_NUM_FK = c.TREATMENT_NUM_PK
                  LEFT JOIN PATIENT_TB AS d ON c.PATIENT_ID_FK = d.PATIENT_ID_PK
                  LEFT JOIN EMP_INFO_TB AS e ON c.EMP_ID_FK = e.EMP_ID_PK
                  LEFT JOIN ADMISSION_STATUS AS f ON f.ADMISSION_STATUS_CODE = b.ADMISSION_STATUS_CODE
         WHERE a.BED_STATUS = 0)
        ORDER BY WARDROOM ASC, BED_NUM;
    </select>


    <!-- 병동 기준 입원완료 한 병상 정보 불러오기 READ-->
    <select id="getOccupiedWardList"  parameterType="HashMap" resultType="HashMap">
        SELECT (a.WARD + a.ROOM_NUM) as WARDROOM, a.BED_NUM, d.PATIENT_NAME, e.EMP_NAME
        FROM BED_TB as a
        LEFT JOIN ADMISSION_TB AS b ON a.WARD = b.WARD  and a.ROOM_NUM = b.ROOM_NUM and a.BED_NUM = b.BED_NUM
        LEFT JOIN TREATMENT_INFO_TB AS c ON b.TREATMENT_NUM_FK = c.TREATMENT_NUM_PK
        LEFT JOIN PATIENT_TB AS d ON c.PATIENT_ID_FK = d.PATIENT_ID_PK
        LEFT JOIN EMP_INFO_TB AS e ON c.EMP_ID_FK = e.EMP_ID_PK
        LEFT JOIN ADMISSION_STATUS AS f ON f.ADMISSION_STATUS_CODE = b.ADMISSION_STATUS_CODE
        WHERE a.WARD = #{ward} and f.AD_CODE_NAME = '입원완료'
        ORDER BY WARDROOM ASC, BED_NUM;
    </select>

    <select id="getOccupiedAllList" resultType="HashMap">
        SELECT (a.WARD + a.ROOM_NUM) as WARDROOM, a.BED_NUM, d.PATIENT_NAME, e.EMP_NAME, a.WARD, a.ROOM_NUM
        FROM BED_TB as a
        LEFT JOIN ADMISSION_TB AS b ON a.WARD = b.WARD  and a.ROOM_NUM = b.ROOM_NUM and a.BED_NUM = b.BED_NUM
        LEFT JOIN TREATMENT_INFO_TB AS c ON b.TREATMENT_NUM_FK = c.TREATMENT_NUM_PK
        LEFT JOIN PATIENT_TB AS d ON c.PATIENT_ID_FK = d.PATIENT_ID_PK
        LEFT JOIN EMP_INFO_TB AS e ON c.EMP_ID_FK = e.EMP_ID_PK
        LEFT JOIN ADMISSION_STATUS AS f ON f.ADMISSION_STATUS_CODE = b.ADMISSION_STATUS_CODE
        WHERE f.AD_CODE_NAME = '입원완료'
        ORDER BY WARDROOM ASC, BED_NUM;
    </select>




</mapper>