@import '../../styles/scss/elements';
@import '../../styles/scss/variables';

.detail-content {
  width: 1100px;
  height: 300px;
  padding: 50px 20px 0;
  border-radius: 11px;
  box-sizing: border-box;
  background: skyblue;
  .record-title {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 700;
  }
  table {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    th,
    td { 
      padding: 2px;
      border: 1px solid $tblBorder;
      vertical-align: middle;
    }
    th {width: 8%; background-color: $thColor; font-weight: 600;}
    td {
      input {width: 100%; border: none; outline: none;}
      select {width: 100%; border: none; outline: none;}
    }
    .memo-tr {height: 70px;}
  }
}