@import '../../styles/scss/_elements';
@import '../../styles/scss/variables';

.admission-Due-wapper {
    height: 100%;
    background-color: white;
    .admission-Due-big-square{
        height: 365px;
        width: 100%;
        overflow-y: scroll;
        .admission-Due-small-square{
            height: auto;
            width: 100%;
            position:sticky;
            .ul-tag{
                border-bottom: 1px solid black;
            }
            li{
                margin-top: 30px;
                margin-bottom: 30px;
            }
            p{
                font-size: 14px;
                span{
                    text-align: center;
                }
            }
            
            }
            input{
                margin-left: 5px;
                font-size: 14px;
            }
        }
    
}
.admission-due-position {

    display: grid;  
    // gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto ;
    // height: 100%;
    // padding: 20px 35px;
    grid-template-areas:
        "a b c d e f g";

    .a { grid-area: a; }
    .b { grid-area: b; }
    .c { grid-area: c; }
    .d { grid-area: d; }
    .e { grid-area: e; }
    .f { grid-area: f; }
    .g { grid-area: g; }

    .complete{
        @extend %btn;
        border-style: none;
    }

    .un-complete{
        display: inline-block;
        width: 75px;
        height: 30px;
        border-radius: 4px;
        border-style: none;
        background-color: rgba(218, 4, 4, 0.856);
        color: $white;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        line-height: 30px;
        letter-spacing: 2.5px;
    }

}

.init-due-position {

    display: grid;  
    // gap: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    // height: 100%;
    // padding: 20px 35px;
    grid-template-areas:
        "a";

    .a { grid-area: a; }


}