@import '../../styles/scss/elements';
@import '../../styles/scss/variables';

.medi-check-container{
  .medi-check-wapper {
    width: 99.5%;
    height: 138px;
    margin: auto;
    margin-top: 14px;
    overflow-y: auto;
    table {
      width: 100%;
      font-size: 16px;
      text-align: left;
      
      th,
      td {
        padding: 1.1px;
        border: 1px solid $tblBorder;
        text-align: center;
      }
      th {
        background-color: $thColor;
        font-weight: 600;
      }
      td {
        input {width: 100%; border: none; outline: none;}
      }
      .medi-fix{
        width: 4%;
        input{
          margin: 0;
        }
      }
      .medi-check{
        width: 12%;
        input{
          margin: auto;
        }
      }
      .medi-date{
        width: 15%;
      }
      .medi-oderer{
        width: 15%;
      }
    }
  }

  .btn-wapper{
    margin-left: 990px;
    display: flex;
    .btn{
      margin-left: 12px;
    }
  }
}

